 <footer  style="position: fixed; bottom: 0; left: 0; width: 100%;" class="bg-blanc text-black text-center py-3">
  
         <p class="mb-0">&copy; <%= new Date().getFullYear() %> FinTrack — All Rights Reserved</p>
        
        </footer>