<header class="header">

    <% if(error.length>0){ %>

        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>

        <% }%>
    <% if(message.length>0){ %>

        <div class="alert alert-success" role="success">
            <%=message%>
        </div>

        <% }%>

<div class="header-left">
      <h1>Dashboard</h1>
      <p class="welcome-text">Welcome back, <%= user.name %></p>
    </div>
</header>